body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333333;
  }
  
  h1 {
    color: #004080;
    text-align: center;
  }

  div {
    color: #004080;
    text-decoration: none;
    padding: 10px;
    text-align: center;
  }

  a:hover {
    color: #ffffff;
    background-color: #004080;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  input[type="text"],
  input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f8f8f8;
    margin-bottom: 10px;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #004080;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  input[type="button"] {
    background-color: #ffffff;
    color: #004080;
    padding: 10px 20px;
    border: 1px solid #004080;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #004080;
    color: #ffffff;
  }
  